.post-list-item{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    box-shadow: 0 0 2px 2px gray;
    padding: 10px 15px;
}

.time-style{
    font-style: italic;
    font-weight: 600;
    text-align: end;
}